<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1250">
    <title>Ответ</title>
    <style>
        .nubex {
            font-size: 0.7em;
        }
    </style>
</head>

<body>
<div class="nubex">{{{zapros}}}</div>
</body>
</html>