<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1250">
        <title>Ответ</title>
    </head>

    <body>
        <div>{{zapros}}</div>
    </body>
</html>